website-audit-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6003d0de-09af-4cd7-8028-204751fff15c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "915084f5-aebe-4e79-b7a7-d04c1f6253e6",
              "name": "url",
              "value": "https://yourlink.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "1675dbc4-388e-4b93-a38b-2e04b6adde43",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "body"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "a05fd5b2-8170-41fb-836f-68ab8c061f5f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "4c5894aa-a861-4a61-ba4a-73b101506706",
      "name": "HTML"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze this website content:\n\n{{ $json[\"text\"] }}\n\nReturn:\n1. Company Name\n2. Email\n3. Phone\n4. Address or Location\n5. Contact or Website link\n\nThen suggest 5–10 improvements related to:\n- SEO\n- Mobile friendliness\n- Speed\n- Content quality\n- UX and trust-building\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        0
      ],
      "id": "a22ee4e1-1aae-4f2c-bb4d-974d84badeca",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "0dK1H7MWSDJXXG4e",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6ea7583-e951-4635-a013-5620d7a1ec06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6a125994b9b9ace09791e7b8bf39d099f070a644a33b67ab9357eaa04bfc3f2"
  },
  "id": "31yc6q4xoZmXERKo",
  "tags": []
}